{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Créer un compte</title>
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
</head>
<body>
<div class="background"></div>

<div class="register-container">
    <img class="logo" src="{% static 'img/img4.png' %}" alt="Logo">
    <h3>Créer un compte</h3>

    {% if error %}
    <p class="error-message">{{ error }}</p>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        <input name="nom" placeholder="Nom">
        <input name="prenom" placeholder="Prénom">
        <input type="email" name="email" placeholder="Email">
        <input type="password" name="password" placeholder="Mot de passe">
        <button type="submit">Créer le compte</button>
    </form>

    <a class="login-link" href="{% url 'login' %}">Retour au login</a>
</div>
</body>
</html>
